div{
    background-image: url(/assets/img/1000_F_264549883_ayKb5wQ3jAE0c4EfXan3tJhCHYCyd8Q4.jpg);
    margin: auto;
    text-align: center;
    color: gray;
    padding: 100px;
    border-radius: 20px;
    box-shadow:10px 5px 5px 5px blue;
    /* background-color: yellow; */
}