<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom</title>
    <script src="/assets/js/14-dom.js" defer></script>
</head>
<body>
    <h1 id = "title">La Manipulation du DOM en Javascript</h1>
    <h2 id = "title2" class="title2">Quelques propriétés du CSS</h2>
    <h2 id = "title2">Pas facile le Javascript</h2>
    <div>
        <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quia. </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quia. </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quia. </p>
    </div>
    
</body>
</html>