<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Avengers Movies</title>
        <script src="../assets/js/16-practice-list.js" defer></script>
    </head>
    <body>
        <div id="container">
            <h1>Les films avengers</h1>
            <ul id="list-movies">
                <li>Captain America: First Avenger</li>
                <li>Captain Marvel</li>
                <li>Iron Man</li>
                <li>Iron Man 2</li>
                <li>L’Incroyable Hulk</li>
                <li>Thor</li>
                <li>Avengers (2012)</li>
                <li>Thor: Le Monde des Ténèbres</li>
                <li>Iron Man 3</li>
                <li>Captain America: Le Soldat de l’Hiver</li>
                <li>Les Gardiens de la Galaxie</li>
                <li>Les Gardiens de la Galaxie Vol. 2</li>
                <li>Avengers: L’Ère d’Ultron (2015)</li>
                <li>Ant-Man</li>
                <li>Captain America: Civil War</li>
                <li>Black Widow</li>
                <li>Black Panther</li>
                <li>Spider-Man: Homecoming</li>
                <li>Doctor Strange</li>
                <li>Thor: Ragnarok</li>
                <li>Ant-Man et la Guêpe</li>
                <li>Avengers: Infinity War (2018)</li>
                <li>Avengers: Endgame (2023)</li>
            </ul>
        </div>
    </body>
</html>
