<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/assets/css/todo-list.css">
    <script src="/assets/js/17-todo-list.js" defer></script>

</head>
<body>
    <main>
        <h1>Todo List</h1>
        <section class="input">
            <label for="todo"></label>
            <input type="text" size="10" id="todo">
            <input type="submit" value="Envoyer" id="submit">
            <ul id="list"></ul>
        </section>
    </main>
    
</body>
</html>